<!DOCTYPE html>
<html lang="en">
<head>
    <!-- a simple web application create by mohammad hossein zadeh abbas with flask - bootstrap -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>simple flask application</title>
    <style>
        body{
            background-color: black;
        }
    </style>
</head>
<body>
    <div class="container-flud">
        <p style="color:#ECEFF1; text-align:center; padding-top: 50px;">
            simple flask application :)
        </p>
        <hr>
        <div style="text-align:center; color:white;">
            <a href="http://127.0.0.1:5000/note">Note</a>
        </div>
        <hr>
        <div style="text-align:center; color:white;">
                <a href="http://127.0.0.1:5000/todolist">Todo list</a>
        </div>
        <hr>
        <div style="text-align:center; color:white;">
                <small>Create by <a href="https://github.com/mhosseinz75">Mohammad hossein Zadeh abbas</a></small>
        </div>    
    </div>
</body>
</html>